@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="padding-top: 10px;padding-bottom: 10px; margin-bottom: 0px;">
    <p style="text-align: center;margin: 0px;">Я твоя статистика ;)</p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="bs-callout bs-callout-info" id="callout-pagination-label">
            <h4>Статистика слов</h4>
            
            <p> В словаре: <code><b>100</b></code> слов</p>
            <p> Новых: <code><b>10</b></code> слов</p>
            <p> Запомненных: <code><b>20</b></code> слов</p>
            <p> В процессе: <code><b>35</b></code> слов</p>
        </div>
    </div>
</div>

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@
