@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/word")


<div class="row padding-tb-10">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="text-center">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#AddNew">Добавить</button>
                <button id="editBtn" type="button" class="btn btn-default" disabled="disabled">Изменить</button>
                <button id="deleteBtn" type="button" class="btn btn-default" disabled="disabled">Удалить</button>
            </div>
        </div>
    </div>
</div>

<div class="content-container">
    <div class="content">
        <table id="list" class="table .table-condensed">
            <tr><th style="width: 80%"> Слово </th></tr>
        </table>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="AddNew" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Добавить слово</h4>
            </div>
            <div class="modal-body">
                <label for="newWord">Новое слово</label>
                <input id="newWord" type="text" name="value" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="Add()">Добавить</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    var lastActive = null;

    $(document).ready(function () {

        // Load words
        $.getJSON("/api/WordsHelper/GetList", function (data) {
            $("div.content-container").css("height", $(window).height() - 150);

            for (var i = 0; i < data.length; i++) {
                $('#list tr:last').after('<tr word-id="' + data[i].Id + '"><td> ' + data[i].Value + ' </td></tr>');
            }

            $("table tr").on("click", function () {
                var item = $(this);

                if (typeof item.attr("word-id") === "undefined") {
                    return;
                }

                if (lastActive != null) {
                    lastActive.removeClass("active");
                    if (item.attr("word-id") === lastActive.attr("word-id")) {
                        lastActive = null;
                        $("#editBtn").attr("disabled", "disabled");
                        $("#deleteBtn").attr("disabled", "disabled");
                        return;
                    }
                }
                item.addClass("active");
                lastActive = item;
                $("#editBtn").removeAttr("disabled");
                $("#deleteBtn").removeAttr("disabled");
            });

        })
            .fail(function () {
                alert("Error get words");
            });

    });

    function Add() {
        $('#AddNew').modal('hide');

        Layout.ShowLoading();
        var newWord = $("#newWord").val();

        Ajax.Post("/api/WordsHelper/Add", JSON.stringify(newWord),
            function (data) {
                if (data.Code !== 0) {
                    alert(data.Description);
                }
            },
            function(jqXHR, textStatus, errorThrown) {
                alert(textStatus);
            },
            function() {
                Layout.HideLoading();
            }
        );

        //var data = newWord;
        //$.ajax({
        //    type: "POST",
        //    url: "/api/WordsHelper/Add",
        //    processData: false,
        //    contentType: 'application/json',
        //    data: JSON.stringify(data),
        //    success: function (r) { alert(r); }
        //});

        //$.post("/api/WordsHelper/Add", newWord, function (data) {
        //    alert(data);
        //}).always(function () {
        //    Layout.HideLoading();
        //});
    }

    function Delete() {

    }

    function Edit() {

    }



</script>
