@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/word")


<div class="row padding-tb-10">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="text-center">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#AddNew">Добавить</button>

                <button id="editBtn" type="button" class="btn btn-default" 
                        data-toggle="modal" data-target="#Edit" onclick="OnEdit()" disabled="disabled">Изменить</button>

                <button id="deleteBtn" type="button" class="btn btn-default" 
                        data-toggle="modal" data-target="#Delete" onclick="OnDelete()" disabled="disabled">Удалить</button>
            </div>
        </div>
    </div>
</div>

<div class="content-container">
    <div class="content">
        <table id="list" class="table .table-condensed">
            <tr><th style="width: 90%"> Слово </th></tr>
        </table>
    </div>
</div>

<!-- Add new -->
<div class="modal fade" id="AddNew" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Добавить слово</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="newWordRus">Описание слова</label>
                    <input class="form-control input-sm" id="newWordRus" type="text" name="value" />
                </div>
                <div class="form-group">
                    <label for="newWordOther">Слово</label>
                    <div class="input-group">
                        <span id="checkWord" status="1" class="input-group-addon glyphicon glyphicon-ok" style="top: 0px !important;"> </span>
                        <input type="text" id="newWordOther"  class="form-control" placeholder="Галочка доя проверки слова">
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="Add()">Добавить</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit -->
<div class="modal fade" id="Edit" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Добавить слово</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="oldWord">Cлово для изменения</label>
                    <input class="form-control input-sm" id="oldWord" type="text" name="value" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="Edit()">Изменить</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete -->
<div class="modal fade" id="Delete" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Удаление</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="delWord">Вы ходите удалить слово</label>
                    <input class="form-control input-sm" id="delWord" type="text" name="value" disabled="disabled" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="Delete()">Удалить</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var lastActive = null;

   


    $(document).ready(function () {
        $("div.content-container").css("height", $(window).height() - 155);

        // Load words
        LoadWords();

        $("#checkWord").click(function() {
            if ($(this).attr("status") === "1") {
                $(this).attr("status", "0");
                $(this).removeClass("glyphicon-ok");
                $(this).addClass("glyphicon-ban-circle");
            } else {
                $(this).attr("status", "1");
                $(this).removeClass("glyphicon-ban-circle");
                $(this).addClass("glyphicon-ok");
            }
        });

    });

    function LoadWords() {
        //$("#list > tr").remove();
        $('#list tr[word-id]').remove();

        $.getJSON("/api/WordsHelper/GetList", function (data) {
                

                for (var i = 0; i < data.length; i++) {
                    $('#list tr:last').after('<tr word-id="' + data[i].Id + '"><td> ' + data[i].Value + ' </td></tr>');
                }

                $("table tr").on("click", function () {
                    var item = $(this);

                    if (typeof item.attr("word-id") === "undefined") {
                        return;
                    }

                    if (lastActive != null) {
                        lastActive.removeClass("active");
                        if (item.attr("word-id") === lastActive.attr("word-id")) {
                            lastActive = null;
                            $("#editBtn").attr("disabled", "disabled");
                            $("#deleteBtn").attr("disabled", "disabled");
                            return;
                        }
                    }
                    item.addClass("active");
                    lastActive = item;
                    $("#editBtn").removeAttr("disabled");
                    $("#deleteBtn").removeAttr("disabled");
                });

            })
            .fail(function () {
                alert("Error get words");
            });
    }

    function Add() {
        $('#AddNew').modal('hide');
        Layout.ShowLoading();

        var newWordRus = $("#newWordRus").val();
        var newWordOther = $("#newWordOther").val();

        Ajax.Post("/api/WordsHelper/Add", JSON.stringify({ "RusWord": newWordRus, "OtherWord": newWordOther }),
            function (data) {
                if (data.Code !== 0) {
                    alert(data.Description);
                }
            },
            function(jqXHR, textStatus, errorThrown) {
                alert(textStatus);
            },
            function () {
                LoadWords();
                Layout.HideLoading();
            }
        );
    }


    function OnDelete() {
        var word = lastActive.find("td:first").text();
        word = word.trim(' ');
        $("#delWord").val(word);
        $("#delWord").attr("word-id", lastActive.attr("word-id"));
    }

    function Delete() {
        $('#Delete').modal('hide');
        var id = $("#delWord").attr("word-id");

        Ajax.Post("/api/WordsHelper/Delete", JSON.stringify(id),
            function (data) {
                if (data.Code !== 0) {
                    alert(data.Description);
                }
            },
            function (jqXHR, textStatus, errorThrown) {
                alert(textStatus);
            },
            function () {
                LoadWords();
                Layout.HideLoading();
            }
        );
    }

    function OnEdit() {
        var word = lastActive.find("td:first").text();
        word = word.trim(' ');
        $("#oldWord").val(word);
        $("#oldWord").attr("word-id", lastActive.attr("word-id"));
    }

    function Edit() {
        $('#Edit').modal('hide');
        var id = $("#oldWord").attr("word-id");
        var value = $("#oldWord").val();

        Ajax.Post("/api/WordsHelper/Edit", JSON.stringify({ "Id": id, "Value": value }),
            function (data) {
                if (data.Code !== 0) {
                    alert(data.Description);
                }
            },
            function (jqXHR, textStatus, errorThrown) {
                alert(textStatus);
            },
            function () {
                LoadWords();
                Layout.HideLoading();
            }
        );
    }



</script>
