@{
    ViewBag.Title = "Игры";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/games")

<h2>Игры</h2>

<div class="content-container">
    <div class="content">
        <table id="list" class="table .table-condensed">
            <tr><th style="display: none"> - </th></tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div id="info" class="bs-callout bs-callout-info">
            <h4>Информация об игре</h4>
            <p> ... </p>
        </div>
    </div>
</div>

<script type="text/javascript">
    var lastActive = null;
    var gameList = null;

    $(document).ready(function () {
        $("div.content-container").css("height", $(window).height() - 300);

        LoadWords();
    });

    function LoadWords() {
        
        $('#list tr[word-id]').remove();

        $.getJSON("/api/GamesHelper/GetList", function (data) {


                for (var i = 0; i < data.length; i++) {
                    $('#list tr:last').after('<tr word-id="' + data[i].Id + '"><td> ' + data[i].Value + ' </td></tr>');
                }

                $("table tr").on("click", function () {
                    var item = $(this);

                    if (typeof item.attr("word-id") === "undefined") {
                        return;
                    }

                    if (lastActive != null) {
                        lastActive.removeClass("active");
                        if (item.attr("word-id") === lastActive.attr("word-id")) {
                            lastActive = null;
                            return;
                        }
                    }
                    item.addClass("active");
                    lastActive = item;
                });

            })
            .fail(function () {
                alert("Error get words");
            });
    }

</script>